//mixins ---------------------------------------------------------------------------------------

full-size()
    width: 100%
    height: 100%

//template styles -------------------------------------------------------------------------------
@media screen and (max-width 3840px)
    html
        font-size: 34px

@media screen and (max-width 2560px)
    html
        font-size: 24px

@media screen and (max-width 1920px)
    html
        font-size: 14px


.size-container
    width: 85%
    height: 100%

    margin: auto

body
    padding: 0
    margin: 0

    background-color: #141414

    color: black
    font-family: 'Poppins', sans-serif;

    font-size: 1.1em
header
    width: 100dvw
    height: 7dvh
    background-color: white

.header-elements
    height: inherit
    display: grid
    grid-template-columns: 20% 80%

    & .logo
        display: flex
        flex-direction: row
        
        align-items: center

        color: black
        font-weight: bold
        font-size: 160%
        
    & .menu
        display: flex
        flex-direction: row
        gap: 1%

        align-items: end
        justify-content: end

        > a
            margin: 1.5%
            text-decoration: none
            color: black
            font-weight: bold

            margin-bottom: 0.2%

            transition: all 0.3s;
        
        > a:hover
            color: #e41618;
        
    

footer
    width: 100dvw
    height: 7dvh

    color: white
    background-color: black

.footer-elements
    height: inherit
    display: grid
    grid-template-columns: 30% 40% 30%

    & .copyrights
        display: flex
        flex-direction: row

        align-items: center
        justify-content: start

        > p
            color: white
            font-weight: bold
            font-size: 60%

            margin: 1%

    & .contacts
        display: flex
        flex-direction: row

        align-items: center
        justify-content: end

        > p
            color: white
            font-weight: bold
            font-size: 60%

            margin: 1%

.main-container
    width: 100dvw
    height: 186dvh


// index.html styles -------------------------------------------------------------------------------------

.home-container-grid
    display: grid
    grid-template-rows: 25% 25% 50%

    width: 100%
    height: 100%

.home-container-banner
    background-color: black

    display: flex
    flex-direction: column
    align-items: center

    > img
        height: 100%

.home-container-plane
    background-color: white


.home-container-maintext
    display: flex
    flex-direction: column

    align-items: center
    justify-content: center

    > h1
        color: black
        font-size: 200%
        margin-top: 5%

    > p
        color: black
        text-align: center


.home-container-plates
    display: flex
    flex-direction: row

    align-items: center
    justify-content: center

    gap: 10%

    height: inherit

    > .home-container-content-plate 
        background-color: black
        border-radius: 30px

        width: 40%
        height: 70%

        transition: all 0.3s;

        display: flex
        flex-direction: column

        align-items: center
        justify-content: center

        > img
            height: 25%

        > h3
            color: white
            font-size: 100%

        > p
            color: white
            text-align: center
            font-size: 80%
            padding: 2%



    > .home-container-content-plate:hover
        width: 41%
        height: 71%


// vehicls styles -------------------------------------------------------------------------------------
.veh-container-grid
    display: grid
    grid-template-rows: 25% 25% 50%

    full-size()

.veh-container-banner
    background-color: black

    display: flex
    flex-direction: column
    align-items: center

    > img
        height: 100%

.veh-container-plane
    background-color: white

.veh-container-plates
    display: flex
    flex-direction: row

    align-items: center
    justify-content: center

    gap: 10%

    height: inherit

    > .veh-container-content-plate 
        background-color: black
        border-radius: 30px

        width: 40%
        height: 70%

        transition: all 0.3s;

        display: flex
        flex-direction: column

        align-items: center
        justify-content: center

        > h3
            color: white
            font-size: 100%

        > p
            color: white
            text-align: center
            font-size: 80%
            padding: 2%


    > .veh-container-content-plate:hover
        width: 41%
        height: 71%

.veh-container-video
    weight: inherit
    height: inherit
    display: flex
    flex-direction: column

    align-items: center
    justify-content: center

    > video
        border-radius: 20px

        height: 90%

        margin-top: 18px
    
    > video::-webkit-media-controls-play-button
        display: none
    
    > video::-webkit-media-controls-timeline-containe
        display: none
    > video::-webkit-media-controls-current-time-display
        display: none
    > video::-webkit-media-controls-time-remaining-display
        display: none
    > video::-webkit-media-controls-timeline
        display: none
    > video::-webkit-media-controls-fullscreen-button
        display: none
    > video::-webkit-media-controls-timeline-containe
        display: none
        

// tth styles -------------------------------------------------------------------------------------
.tth-container-grid
    display: grid
    grid-template-rows: 50% 50%

    full-size()

.tth-container-plane-black
    background-color: black

.tth-container-plane-white
    background-color: white

.tth-container-plates
    display: flex
    flex-direction: row

    align-items: center
    justify-content: center

    gap: 5%

    height: inherit

    > .tth-container-content-plate 
        background-color: black
        border-radius: 30px

        width: 40%
        height: 80%

        transition: all 0.3s;

        display: flex
        flex-direction: column

        align-items: center
        justify-content: center

        > h3
            color: white
            font-size: 100%

            margin: 0px

        > p
            color: white
            text-align: center
            font-size: 80%
            padding: 2%

.tth-content-table
    width: 100%
    height: 100%

    display: flex
    flex-direction: column

    align-items: center
    justify-content: center

    & table
        border: solid thin white
        border-collapse: collapse

        color: white
        font-size: 59%

        width: 100%

    & .tth-content-table-hat
        font-size: 130%

    & tr
        text-align: center

        width: inherit
        height: 1%

    & td
        border: solid thin white
        vertical-align: middle


.tth-content-controls
    width: 90%
    height: 85%

.tth-content-controls-button
    background-color: white
    border-radius: 40px

    width: 50%
    height: 7%

    margin-top: 4%

    font-size: 90%
    font-weight: bold

    cursor: pointer
    outline: none

.tth-container-controls-graph-form
    width: 100%
    height: 100%

    color: white

.tth-container-controls-filter-form
    width: 100%
    height: 100%

    color: white

.tth-container-controls-sort-form
    width: 100%
    height: 100%

    color: white